/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/selenium
/test.js
/chromedriver.log
/public/selenium
.idea
/docker_common
/app/storage/temu_cookies/*
/app/storage/export/*
/app/storage/logs/*


